<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% include head/canonical.html %}

  {% include head/meta.html %} 

  {% include head/favicon.html %} 

  <link rel="sitemap" href="/sitemap.xml">

  <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap"
    rel="stylesheet"
  />

  <script>
    const getTheme = () => {
      const savedTheme = localStorage.getItem("theme");
      if (savedTheme) return savedTheme;

      return window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light";
    };

    const theme = getTheme();
    document.documentElement.setAttribute("data-theme", theme);
  </script>
</head>
