{% capture title %}
  {% if site.github.project_title %}
    {{ site.github.project_title }}
  {% else %}
    {{ site.title }}
  {% endif %}
{% endcapture %}

{% capture description %}
  {% if site.github.project_tagline %}
    {{ site.github.project_tagline }}
  {% else %}
    {{ site.description }}
  {% endif %}
{% endcapture %}

{% capture author %}
  {% if site.github.owner_display_name %}
    {{ site.github.owner_display_name }}
  {% else %}
    {{ site.author }}
  {% endif %}
{% endcapture %}


<title>{{ title | strip | downcase | capitalize }} - {{ description | strip }} - {{ author | strip }}</title>
